<div class="pull-right float-right" style="margin-top: 1em; margin-right: 2em; margin-bottom: 1em;">
	{% if numHendelser > 6 or GET('hendelser') is not empty %}
		<a href="?page={{GET('page')}}&action=sortering" class="btn btn-ukm btn-sm">Velg andre hendelser</a>
	{% endif %}
	<a href="?page={{GET('page')}}" class="btn btn-ukm btn-sm">Tilbake til oversikten</a>
</div>
<h3>
	Fordel innslag
	<small>(Trekk de over til en hendelse)</small>
	{% if show|length == 1 %}
		<small style="font-size:.6em; margin-left: 1em;">
			<a class="btn btn-ukm btn-xs" id="reverser_rekkefolge" href="#" style="margin-top: -.6em;">reverser rekkefølge</a>
		</small>
	{% endif %}
</h3>

<div class="clearfix"></div>
<div style="width: 98%" class="program sortering">
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-lg-3 col-xl-2 float-right pull-right">
			{% include "supply/delete.html.twig" %}
			{% include "supply/alle.html.twig" with {visFilter: true} %}
		</div>

		{% include "hendelser/liste.html.twig" %}
	</div>
</div>

{% block javascripts %}
<script>
jQuery(document).ready(function() {
    jQuery("#reverser_rekkefolge").click(function(clickEvent) {
        if(confirm('Er du sikker på at du vil reversere rekkefølgen på alle innslag i denne hendelsen?')) {
            jQuery.post(
                ajaxurl, {
                    action: 'UKMprogramV2_ajax',
                    controller: 'save',
                    save: 'reverserRekkefolge',
                    hendelse: {{ show|first }}
                },
                function(response) {
                    if (response !== null && response.success) {
                    	location.reload();
                    } else {
                        alert('Klarte ikke å reversere rekkefølgen på innslagene.');
                    }
                }
            );
        }
    });
});
</script> 
{% endblock %}