/* BASE */

.flashbag {
    max-width: 768px;
}


/* DASHBOARD */

.program .caron {
    font-size: 3em;
    line-height: 1.1em;
    font-weight: lighter;
    margin-right: 0px;
    float: right;
}

.program .icon {
    float: right;
    margin-left: .3em;
    cursor: pointer;
}

.program {
    width: 100%;
}

.program th,
.program td {
    padding: 6px;
}

.program th {
    text-transform: uppercase;
}

.program td {
    vertical-align: top;
}

.panel-title {
    font-size: 1em;
}

.panel-heading {
    padding: .5em .8em;
    min-height: 2.4em;
}

.panel-heading .icon .dashicons {
    font-size: 1.4em;
}


/* HENDELSE */

input.form-control+p.help {
    margin-top: -.7em;
}

label.normal {
    font-weight: normal;
}

.saveStatus {
    font-size: .7em;
}


/* GROVSORTERING */

.sortering abbr {
    border: none;
    text-decoration: none;
}

li.innslag {
    font-size: .8em;
    padding: .5em;
    border-radius: 5px;
    border-color: #e9e9e9;
}

.list-inline>li.innslag:first-child {
    padding-left: .3em;
}

li.innslag .navn {
    line-height: 1.15em;
    font-weight: bold;
}

.sortering .supplyList ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.sortering .supplyList li.innslag {
    width: 20rem;
    border: 1px solid #ccc;
    background: #fff;
    display: block;
    margin: .3em;
}

.sortering li.innslag .infos {
    text-align: right;
    margin-left: 1em;
    float: right;
    line-height: 1.4em;
}

.sortering .supplyList li.innslag .navn {
    font-weight: normal;
}

.line-sep {
    margin: -.5em;
}

.line-sep li {
    border-bottom: 1px solid #ccc;
    padding-bottom: .3em;
    padding-top: .5em;
    margin: 0px;
    line-height: 1.5em;
}

.line-sep li .label {
    margin-top: -.1em;
}


/* REKKEFØLGE I HENDELSE */

ol.detaljprogram {
    counter-reset: my-awesome-counter;
}

ol.detaljprogram li.innslag {
    counter-increment: my-awesome-counter;
}

ol.detaljprogram li.innslag::before {
    content: counter(my-awesome-counter) ". ";
    float: left;
    height: 100%;
    font-size: 1.8em;
    line-height: 1.35em;
    margin-left: -.6em;
    margin-right: .5em;
    margin-top: -.3em;
    color: #3c763d;
    min-width: 1.4em;
    text-align: right;
}


/* FJERN INNSLAG */

.supplyContainer.over #dropToDelete {
    background: rgba(169, 68, 66, 0.8);
}

.supplyContainer.over #dropToDelete::before {
    color: #f2dede;
}

#dropToDelete {
    min-height: 8em;
    background: #f2dede;
    border-radius: 5px;
    border: 2px solid rgba(169, 68, 66, 0.8);
}

#dropToDelete::before {
    color: rgba(169, 68, 66, 0.8);
    content: "Slipp innslaget her for å fjerne det fra hendelsen.";
    white-space: pre-wrap;
    font-weight: bold;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 100%;
    display: block;
    z-index: -20;
    clear: both;
}


/* KATEOGIR-LABELS */

.label-kat-musikk {
    background: #2195F2;
}

.label-kat-dans {
    background: #4BAF4F;
}

.label-kat-scene {
    background: #CCDB38;
}

.label-kat-teater {
    background: #FF9700;
}

.label-kat-litteratur {
    background: #9B26B2;
}

.label-kat-video {
    background: #029587;
    ;
}

.label-kat-utstilling {
    background: #5F7B8F;
}

.label-kat-konferansier {
    background: #E91D62;
}

.label-kat-matkultur {
    background: #ff0000;
}


/* rød */

.label-kat-ressurs {
    background: #6C131C;
}

.label-kat-nettredaksjon {
    background: #A21C2A;
}

.label-kat-arrangor {
    background: #D45E6A;
}