{% extends "Layout/base.html.twig" %}


{% block content %}
	<h3>
		Innslag som ikke er fordelt
		<small>(Trekk de over til en hendelse)</small>
	</h3>
	<div class="grovsortering">
		<div class="alle">
			<ol class="list-inline">
			{% for innslag in monstring.getInnslag().getAll() %}
				{% include "innslag.html.twig" %}
			{% endfor %}
			</ol>
		</div>

		<table class="program">
			<tbody>
				<tr>
					{% for hendelse in monstring.getProgram().getAll() if hendelse.getId() in show %}
						<td class="kolonne tot-{{ monstring.getAntallDager() }}">					
							<div class="hendelse panel panel-{{ hendelse.erSynligRammeprogram() ? 'success' : 'danger' }}" data-id="{{ hendelse.getId() }}">
								<div class="panel-heading">
									<h3 class="panel-title">
										{{ hendelse.getNavn() }}
									</h3>
								</div>

								<div class="panel-body">
									<ol class="list-unstyled line-sep">
										{% for innslag in hendelse.getInnslag().getAll() %}
											{% include "innslag.html.twig" %}
										{% else %}
											<li class="text-danger" style="border-bottom: none;">
												Hendelsen har ingen innslag enda
											</li>
										{% endfor %}
									</ol>
								</div>
							</div>
						</td>
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}