{% if GET('id') == 'new' %}
	{% set currentStartTime = '' %}
	{% set currentStartDate = '' %}
{% else %}
	{% set currentStartTime = hendelse.getStart()|date('H:i') %}
	{% set currentStartDate = hendelse.getStart()|dato('d.m.Y') %}
{% endif %}


<h2>
    {% if GET('id') == 'new' %}
        Opprett hendelse
    {% else %}
        Rediger
        {{ hendelse.getNavn() }}
    {% endif %}
</h2>
<div class="clearfix clear clear-fix"></div>

<form method="POST" action="?page=UKMprogram&save=hendelse">
    <input type="hidden" name="id" value="{{ GET('id') }}"/>
    <div style="width:98%">
        {% include "hendelse/basics.html.twig" %}
        {% include "hendelse/type.html.twig" %}
        {% include "hendelse/synlighet.html.twig" %}
    </div>
    
	<div style="margin-top: 2em;">
		<input type="submit" value="Lagre" class="btn btn-success"/>
	</div>

</form>
