{% if GET('id') == 'new' %}
	{% set currentStartTime = '' %}
	{% set currentStartDate = '' %}
{% else %}
	{% set currentStartTime = hendelse.getStart()|date('H:i') %}
	{% set currentStartDate = hendelse.getStart()|dato('d.m.Y') %}
{% endif %}


<h3>
    {% if GET('id') == 'new' %}
        Opprett hendelse
    {% else %}
        Rediger
        {{ hendelse.getNavn() }}
    {% endif %}
    <small style="font-size:.6em; margin-left: 1em;">
        <a class="btn btn-ukm btn-xs" href="?page={{GET('page')}}" style="margin-top: -.6em;">avbryt, tilbake til oversikten</a>
    </small>
</h3>
<div class="clearfix clear clear-fix"></div>

<form method="POST" action="?page=UKMprogram&save=hendelse">
    <input type="hidden" name="id" value="{{ GET('id') }}"/>
    <div style="width:98%">
        {% include "hendelse/basics.html.twig" %}
        {% include "hendelse/type.html.twig" %}
        {% include "hendelse/synlighet.html.twig" %}
    </div>
    
	<div style="margin-top: 2em;">
		<input type="submit" value="Lagre" class="btn btn-success"/>
	</div>

</form>

{% if arrangement.getEierType() == 'land' %}
    {# bottom-spacer for å håndtere color-picker #}
    <div style="min-height: 300px; display:block;"></div>
{% endif %}