<h1>Program</h1>
<p>
    Her vil du snart kunne sette opp et program for arrangementet.
    Du kan legge til så mange hendelser du vil, og fordele alle dine
    påmeldte på disse.
</p>

<p>
    Program-funksjonen er forventet klar i løpet av november
</p>