<div class="small">
	<b>Tegnforklaring:</b>
	<br/>
	<span class="dashicons dashicons-tickets"></span>
	Synlig i offentlig program (trykk for å skjule)
    <br />
	<span class="dashicons dashicons-nametag"></span>
	Synlig i deltakerprogram (trykk for å skjule)
	<br/>
	<span class="dashicons dashicons-hidden"></span>
	Skjult hendelse (trykk for å vise i tidligere valgt program)
	<br/>
	<span class="dashicons dashicons-unlock"></span>
	/
	<span class="dashicons dashicons-lock"></span>
	Synlig / skjulte detaljer for hendelsen
</div>
