<h2>
    Program for
	{{ arrangement.getNavn() }}
</h2>

<script>
    jQuery(document).ready(function() {
        UKMresources.optionCard.on('antall', function(valgt) {
            if (valgt == 'flere') {
                jQuery('#forestilling').slideUp();
            } else {
                jQuery('#forestilling').slideDown();
            }
            jQuery('#radioButtonValue_utstilling').change();
        });
        UKMresources.optionCard.pullStatus('antall');
    });
    jQuery('#radioButtonValue_utstilling').trigger('change');

    jQuery(document).on('change', '#radioButtonValue_utstilling, #radioButtonValue_forestilling, #radioButtonValue_arrangor, #radioButtonValue_nettredaksjon', function(e) {
        var forestilling = UKMresources.optionCard.status('antall') != 'flere';
        var utstilling = jQuery('#radioButtonValue_utstilling').val() == 'yes';
        var nettredaksjon = jQuery('#radioButtonValue_nettredaksjon').val() == 'yes';
        var arrangor = jQuery('#radioButtonValue_arrangor').val() == 'yes';

        if( forestilling || utstilling || nettredaksjon || arrangor ) {
            jQuery('#fordele').slideDown();
        } else {
            jQuery('#fordele').slideUp();
        }   
    });
    
    jQuery(document).on('change', '#radioButtonValue_leggtil', function(e) {
        if (jQuery(e.target).val() == 'yes') {
            jQuery('#viSkillerUtUtstilling').slideDown();
        } else {
            jQuery('#viSkillerUtUtstilling').slideUp();
        }
    });
</script>

<form action="?page={{ GET('page') }}&action=autocreate" id="formContainer" method="POST">
    <div style="width: 98%" id="arrangement-add">
        {% include "wp_modul.flashbag.html.twig" %}
        <h4>Hvor mange arrangement tenker du å opprette?</h4>
        <p class="text-muted" style="margin-top:0;margin-bottom:0;">
            Frykt ikke, du kan endre dette når som helst.
        </p>
        <div class="row">
            {% if arrangement.erArrangement() %}
                <div class="col-xs-6 col-sm-4 col-lg-3">
                    <div class="optionCard card selected" data-group="antall" data-value="en">
                        <div class="dashicons dashicons-star-empty"></div>
                        <div class="header">Én hendelse</div>
                        <p>
                            Hvis alle dine påmeldte skal legges til i en hendelse,
                            velger du denne.
                            <br />&nbsp;
                        </p>
                    </div>
                </div>
            {% endif %}
            {% if arrangement.erMonstring() %}
                <div class="col-xs-6 col-sm-4 col-lg-3">
                    <div class="optionCard card {{ arrangement.getInnslag().getAntall() <= 20 ? 'selected' }}" data-group="antall" data-value="noen">
                        <div class="dashicons dashicons-star-half"></div>
                        <div class="header">Én forestilling + noen grupper</div>
                        <p>
                            Alle påmeldte opptrer i en forestilling,
                            men du vil ha en utstilling, og kanskje en gruppe arrangører i tillegg.
                            <br />&nbsp;
                        </p>
                    </div>
                </div>
            {% endif %}
            <div class="col-xs-6 col-sm-4 col-lg-3">
                <div class="optionCard card {{ arrangement.getInnslag().getAntall() > 20 ? 'selected' }}" data-group="antall" data-value="flere">
                    <div class="dashicons dashicons-star-filled"></div>
                    <div class="header">Flere forestillinger (hendelser)</div>
                    <p>
                        For deg som har mange innslag som skal fordeles i flere forestillinger
                        eller vil fordele de i ulike dager, tema osv.
                    </p>
                </div>
            </div>
        </div>

        {% if arrangement.erMonstring() %}
        <div class="row" style="margin-top:2em;">
            <div class="col-12 col-sm-8 col-lg-6" style="margin-top: 1em;">
                <h4>Hvilke hendelser skal vi opprette?</h4>
                <ol class="list-group">
                    <li class="list-group-item" id="forestilling">
                        <div class="btn-group radioButtons pull-right" data-name="forestilling">
                            <button type="button" class="btn btn-default" value="to">
                                &nbsp; Med pause &nbsp;</button>
                            <button type="button" class="btn btn-default selected" value="en">
                                &nbsp; Uten pause &nbsp;</button>
                        </div>
                        Forestillingen
                        <div class="clearfix"></div>
                    </li>

                    {% if arrangement.getInnslagTyper().har( innslag_typer.getByKey('utstilling') ) %}
                        <li class="list-group-item">
                            <div class="btn-group radioButtons pull-right" data-name="utstilling">
                                <button type="button" class="btn btn-default" value="yes">
                                    &nbsp; Ja &nbsp;</button>
                                <button type="button" class="btn btn-default selected" value="no">
                                    &nbsp; Nei &nbsp;</button>
                            </div>
                            Utstilling
                            <div class="clearfix"></div>
                        </li>
                    {% endif %}

                    {% if arrangement.getInnslagTyper().har( innslag_typer.getByKey('arrangor') ) %}
                        <li class="list-group-item">
                            <div class="btn-group radioButtons pull-right" data-name="arrangor">
                                <button type="button" class="btn btn-default" value="yes">
                                    &nbsp; Ja &nbsp;</button>
                                <button type="button" class="btn btn-default selected" value="no">
                                    &nbsp; Nei &nbsp;</button>
                            </div>
                            Arrangører
                            <div class="clearfix"></div>
                        </li>
                    {% endif %}

                    {% if arrangement.getInnslagTyper().har( innslag_typer.getByKey('nettredaksjon') ) %}
                        <li class="list-group-item">
                            <div class="btn-group radioButtons pull-right" data-name="nettredaksjon">
                                <button type="button" class="btn btn-default" value="yes">
                                    &nbsp; Ja &nbsp;</button>
                                <button type="button" class="btn btn-default selected" value="no">
                                    &nbsp; Nei &nbsp;</button>
                            </div>
                            Media
                            <div class="clearfix"></div>
                        </li>
                    {% endif %}

                </ol>
            </div>
        </div>
        {% endif %}
        <div class="row" id="fordele" style="margin-top:2em;">
            <div class="col-xs-12 col-sm-8 col-lg-6">
                <div class="pull-right" style="margin-top: .5em; margin-right: 1em;">
                    <div class="btn-group radioButtons" data-name="leggtil">
                        <button type="button" class="btn btn-default selected" value="yes">
                            &nbsp; Ja &nbsp;</button>
                        <button type="button" class="btn btn-default" value="no">
                            &nbsp; Nei &nbsp;</button>
                    </div>
                </div>
                <h4>Skal vi fordele innslagene ?</h4>
                <div id="viSkillerUtUtstilling">
                    <p>
                        Vi passer selvfølgelig på at alle havner i riktig hendelse basert på valgene ovenfor.
                    </p>
                    <p class="text-muted" style="margin-top:1.2em;">        
                        OBS: Vi legger til alle innslag som er påmeldt arrangementet ditt nå,
                        men hvis du får inn flere påmeldinger, må du legge til disse i programmet selv.
                        Vi jobber med en løsning som kan fikse dette automatisk for deg.
                    </p>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 4em;">
            <div class="col-xs-12 col-sm-12">
                <button class="btn btn-success" type="submit">Kom i gang!</button>
            </div>
        </div>
    </div>
</form>