<div class="panel panel-danger supplyContainer" data-supply="delete" id="supplyDelete" style="display:none;">
	<div class="panel-heading">
		<div class="icon">
			<a href="#">
				<span class="dashicons dashicons-trash text-danger"></span>
			</a>
		</div>

		<h3 class="panel-title">Fjern innslag fra hendelse</h3>
	</div>
	<div class="panel-body">
		<ol class="list-unstyled supplyList" id="dropToDelete"></ol>
		<div class="clearfix"></div>
		<p class="text-muted center">
			Vil ikke innslaget fjernes? 
            Prøv å trekke innslaget over her før du slipper det 
            i den røde boksen ovenfor.
		</p>
	</div>
	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>
